streamlit==1.32.0
langchain==0.1.13
langchain-community==0.0.29
faiss-cpu==1.8.0
groq==0.4.2
numpy==1.26.4
tiktoken==0.6.0
pypdf==4.1.0
rank-bm25==0.2.2
pandas==2.2.1
python-dotenv==1.0.1
sentence-transformers==2.5.1